body{
    width: 50%;
    margin: auto;
    background-color: rgb(188, 223, 243);
    font-family: sans-serif;
    height: 100vh;
}
.content{
    background-color: aliceblue;
    border: 3px solid navy
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
li{
    margin-left: -7%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
p{
    text-align: center;
}
footer{
    border: 1px solid navy;
    text-align: center;
}
nav{
    text-align: center;
    word-spacing: 30px;
}